<!doctype HTML>
{% load static %}
<html>

<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="page-header">
        <h1><a href="/">admin-page for programming circle</a></h1>
        <a href="/accounts/logout/">ログアウト</a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% if user.is_authenticated %}
                <p>{{ user.username }}でログイン中</p>
                {% else %}
                <p>ログインしていません</p>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
