{% extends "accounts/admin_base.html" %}
{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">

            <i class="right angle icon divider"></i>

            <i class="right angle icon divider"></i>
            <div class="active section">ユーザー情報の変更</div>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>ユーザー情報の変更</h3></div>
                <form class="ui form" action="" method="POST">
                    {% csrf_token %}
                    <p>username<input type="username" name="username" id="username_input" value="{{ old_user.username }}"></p>
                    <p>first name<input type="first_name" name="first_name" id="first_name_input" value="{{ old_user.first_name }}"></p>
                    <p>last name<input type="last_name" name="last_name" id="last_name_input" value="{{ old_user.last_name }}"></p>
                    <p>email<input type="email" name="email" id="email_input" value="{{ old_user.email }}"></p>

                    <button class="ui orange button" type="submit">確認</button>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}