{% extends "blog/base.html" %}
{% block head %}
<title>活動概要｜福島大学プログラミングサークル</title>
{% endblock %}
{% block content %}
    <main>
        <div class ="gaiyou">
           <div class="container">
            <a class="theme_ActivityDescription">活動概要</a>
            <div class="gaiyoucontent_ActivityDescription">
                <img class="mainimage_ActivityDescription" src="https://cdn.discordapp.com/attachments/903580846747971594/912934256844632084/computer_sagyouin_man.png" alt="メイン画像">
                <div class=gaiyoutexts_ActivityDescription>
                    <div class="circleitsuite_ActivityDescription">
                        <h3>サークルについて</h3>
                        <div>&emsp;本プログラミングサークルは、2021年春に設立された歴史の新しいサークルです。<br>
                            &emsp;現在は週に１度の勉強会で技術を教えあったり、チーム開発でWEBアプリケーションを作ったりして活動しています。<br>
                            &emsp;チーム開発では、作りたいアプリケーションを決めて、設計・開発・運用まですべて自分たちで行います。目に見える成果物が残せるだけでなく、チームで活動する上で必要な技術も学ぶことが出来る場を目指しています。<br>
                            &emsp;プログラミングに興味がある方、仲間と協力してものづくりをしてみたい方、「大学生活でこれを頑張った！」という成果物を作りたい方、私たちと一緒に活動してみませんか？活動に必要なものは勉強意欲とPCです。<br>
                            &emsp;現在はWEBアプリ開発を主な活動内容としていますが、今後希望者がいれば競技プログラミングやハッカソンの参加等の活動も検討します。</div>
                    </div>
                    <div class="katsudoubi_ActivityDescription">
                        <h3>活動日</h3>
                        <div>&emsp;毎週水曜13~16時</div>
                    </div>
                    <div class="nyuubukibousyahe_ActivityDescription">
                        <h3>入部希望者へ</h3>
                        <div>&emsp;こちら（fukushimaprog@gmail.com）へ、もしくはtwitterのDMでご連絡ください。<br>
                            &emsp;※アプリ開発にあたり部内チーム分けを行っていることもあるので、時期によっては入部受理に時間がかかる場合があります。ご了承下さい。</div>
                    </div>
                </div>
            </div>
           </div>
        </div>


    </main>
{% endblock %}