<!doctype HTML>
{% load static %}
<html>

<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <img src="https://cdn.discordapp.com/attachments/903580846747971594/903581867670917140/2.png" class="example1">
        <ul>
            <li>トップ</li>
            <li>なんか</li>
            <li>なんか</li>
            <li>なんか</li>
        </ul>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <img src="https://cdn.discordapp.com/attachments/903580846747971594/903581867670917140/2.png" alt="fukushimadaigaku puroguraming sa-kuru" class="example1">
        <a href="https://www.fukushima-u.ac.jp/">福島大学</a>
    </footer>
</body>

</html>
