{% extends "blog/base.html" %}
{% block content %}
投稿詳細
<h3>{{post.title}}</h3>
<small>投稿日時 : {{post.created_date}}</small><br>
<small>最終更新 : {{post.published_date}}</small><br>
<p>{{post.text | linebreaksbr}}</p><br>
<p>{{post.author}}</p><br>
<p>{{post.created_date}}</p><br>
<p>{{post.published_date}}</p><br>
<!--前後の記事へのリンク-->
 {% with prev=post.get_previous_by_pk %}
    {% if prev %}
      <a href="{% url 'postsDetail' prev.pk %}">前の記事</a>
    {% endif %}
  {% endwith %}
  {% with next=post.get_next_by_pk %}
    {% if next %}
      <a href="{% url 'postsDetail' next.pk %}">次の記事</a><br>
    {% endif %}
<!--投稿詳細-->
  {% endwith %}
<a href = "{% url 'postsList' %}">投稿詳細へ</a>
{% endblock %}