{% extends "blog/base.html" %}
{% block head %}
<title>福島大学プログラミングサークル</title>
{% endblock %}
{% block content %}
<div class="top-back" style="background-color: white; width: 100%;">
    <div class="example">
        <img src="https://cdn.discordapp.com/attachments/903580846747971594/918022901163233300/20211208_142045.JPG" class="top-image" />
        <p>福島大学</br>プログラミングサークル</p>
        <p></p>
    </div>
    <div class="top-label">
        <h2>twitter</h2>
    </div>
    <div style="text-align:center; width: 80%; margin: 0 auto; background-color:#c2c2c2;">
        <div style="text-align:center; width: 90%; margin: 5px auto;">
        <a class="twitter-timeline" data-chrome="noheader" data-height="400" href="https://twitter.com/fukushimaprog?ref_src=twsrc%5Etfw">Tweets by fukushimaprog</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

{% endblock %}