.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
/* ヘッダーCSS開始 */
header .statul li{
    list-style: none;
    float: left;
    margin-top: 20px;
    /*height: 55px;
    width: 200px;
    margin: 15px 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;*/
}
header .statul a{
    text-decoration: none
    height: 55px;
    width: 200px;
    margin: 15px 50px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;

}
header{
    background-color: #5f9ea0;
    height: 120px;
    border: 2px solid #000000;
}
header .statul{
    margin:0 auto;
}
header img.example1 {
    width: 500px;
    height: 110px;
    padding-top: 10px;
    }
header:after {
    content: "";
	clear: both;
	display: block;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #ffffff;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #3584bb;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
/* ヘッダーCSS終了 */
/* フッターCSS開始 */
footer{
    border-width: 1px;
    background-color:#5f9ea0;
}
footer img.example1 {
    width: 500px;
    height: 90px;
    padding-top: 10px;
    }
footer a{
    display:flex;
    font-size:25px;
    padding-top:10px;
  }
/* フッターCSS終了 */
main{
    background: linear-gradient(#FFF2CC, #7FD9D2);
    background: -moz-linear-gradient(#FFF2CC, #7FD9D2);
    background: -webkit-linear-gradient(#FFF2CC, #7FD9D2);
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    size:70%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
 /*　"ActivityDescription" 開始 */
.gaiyou li{
    list-style: none;
}
.mainimage_ActivityDescription{
    width: 250px;
    height: 75Spx;
    float: right;
    margin-bottom: 20px;
    border: 3px solid #000000;
    margin-left: 5px;
    border-radius: 10px;
}
.gaiyou_ActivityDescription{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.gaiyou:after{
    content: "";
	clear: both;
	display: block;
}
.theme_ActivityDescription{
    font-size: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: 20px;
    width: 123px
}
.gaiyoutexts_ActivityDescription{
    margin: 20px;
}
.gaiyoutexts_ActivityDescription div{
    font-size: 18;
}
/*　"ActivityDescription" 終了 */

/* "ポートフォリオ" */
.box-pf{
    width: 80%; border: solid  rgb(7, 0, 0);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.flex-pf{
    display: flex;
    flex-wrap: wrap;
}


p-pf{
    margin:0 auto;
    border-style: solid;
    border-style: 1px;
    border-color: #000000;
    font-size: 20px;

  }
/* "ポートフォリオ終了"*/

/* topページ開始 */
.example {/*親div*/
  position: relative;
  }

.example p{
  position: absolute;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3.5em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 100px;
  left: 20px;
  }

.example img.too-img{
    width: 100%;
}

.top-label h2 {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  margin: 0 50px;
  text-align: center;
}

.top-label h2:before,
.top-label h2:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.top-label h2:before {
  left: 0;
}

.top-label h2:after {
  right: 0;
}
.top-image{
    width: 100%;
    height: 600px;
}
/* topページ終了 */

/*　投稿詳細　*/
.p-pd{
    margin: auto;
}


.box-pd{
    width: 80%; border: solid  rgb(7, 0, 0);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.box-pd2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* 投稿詳細 */

/*投稿一覧*/
h2{
  text-align: left;
      margin:0px 0px 0px 650px;
      font-size: 50px;
      padding-top:50px
    }

    h3{
      font-size:40px;
      margin:0px 0px 0px 0px;
    }

.container{
  display: flex;
  flex-wrap: wrap;
  size:70%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;


}

.item{
  width:1200px;
  background:#5f9ea0;
  color:#fff;
box-shadow: 4px 4px;
  margin:10px 100px 30px 100px;
  padding:10px 40px 10px 10px;
}
p{
  font-size:25px;
  margin-top:2px;
  margin-bottom:0px;
}
/*投稿一覧終わり*/

.wrap {
    height: 912px;
    width: 1368px;
    position: absolute;
    transform-origin: 0% 0%;
}
